.main-nav__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
          box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}

.main-nav__top a {
  margin: 0 auto;
}

.user-navigation,
.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-navigation__item,
.site-navigation__item {
  -webkit-box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
          box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}

.user-navigation__link,
.site-navigation__link {
  display: block;
  padding: 32px 20px 30px 46px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}

.site-navigation__link--search {
  position: relative;
}

.site-navigation__link--search::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -9px;
  width: 18px;
  height: 18px;
  background-image: url("../../img/icon/icon-search.svg");
  background-repeat: no-repeat;
  opacity: 0.2;
}

.site-navigation__link--cart {
  position: relative;
}

.site-navigation__link--cart::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -9px;
  width: 21px;
  height: 18px;
  background-image: url("../../img/icon/icon-cart.svg");
  background-repeat: no-repeat;
  opacity: 0.2;
}

.main-nav__button--close .user-navigation,
.main-nav__button--close .site-navigation {
  display: none;
}

.main-nav__button--open .user-navigation,
.main-nav__button--open .site-navigation {
  display: block;
}

.main-nav--nojs .user-navigation,
.main-nav--nojs .site-navigation {
  display: block;
}
