.catalog {
  margin-bottom: 58px;
}

.catalog-main__header {
  margin-bottom: 30px;
  padding-top: 76px;
  padding-bottom: 76px;
  background-color: #f1f1f1;
}

.catalog-main__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}

.catalog__item {
  display: block;
  margin-bottom: 30px;
  border: 1px solid #ececec;
  background-color: #fff;
  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }
  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.catalog__info {
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 30px;
}

.catalog__item {
  margin-bottom: 30px;
}

.catalog__title {
  margin-top: 30px;
  margin-bottom: 12px;
  display: block;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}

.catalog__description {
  display: block;
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  color: #444;
}

.catalog__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  border-top: 1px solid #ececec;
}

.catalog__bottom svg {
  opacity: 0.2;
  cursor: pointer;
  &:hover {
    opacity: 1;
    fill: #63d1bb;
  }
  &:active {
    opacity: 0.3;
  }
}

.catalog__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
}

.catalog__video {
  padding-top: 29px;
  border: 1px solid #ececec;
  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }
  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.catalog__title--video {
  position: relative;
  margin-left: auto;
  margin-bottom: 20px;
  padding-right: 43px;
  padding-left: 91px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 34px;
    width: 32px;
    height: 32px;
    background-image: url("../../img/icon-video.svg");
  }
}

.catalog__text {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #444;
}

.video {
  position: relative;
  display: block;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 101px;
    height: 77px;
    background-image: url("../../img/icon/icon-play.svg");
    background-repeat: no-repeat;
    transform: translate(-50%,-50%);
    cursor: pointer;
  }
  &:hover {
    &::after {
      transform: translate(-50%,-50%) scale(1.2);
    }
  }
  &:active {
    &::after {
      transform: translate(-50%,-50%) scale(0.8);
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-size) {
  .catalog {
    position: relative;
    .line__top {
      top: -54px;
    }
  }
  .catalog-main__header {
    padding-top: 106px;
    padding-bottom: 86px;
  }
  .catalog-main__title {
    font-size: 43px;
    line-height: 50px;
  }
  .catalog__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;
    img {
      min-width: 334px;
      min-height: 334px;
    }
  }
  .catalog__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  .catalog__title {
    font-size: 20px;
    line-height: 24px;
  }
  .catalog__description {
    font-size: 15px;
    line-height: 30px;
  }
  .catalog__price {
    font-size: 17px;
    line-height: 24px;
  }
  .catalog__bottom {
    padding-top: 27px;
  }
  .catalog__video {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }
  .video {
    min-width: 668px;
    min-height: 455px;
    margin-bottom: 43px;
    order: -1;
    &::after {
      width: 102px;
      height: 78px;
    }
  }
  .catalog__title--video {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    padding-left: 107px;
    br {
      display: none;
    }
    &::before {
      top: -5px;
      left: 39px;
    }
  }
  .catalog__info--video {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 46px;
  }
  .catalog__text {
   margin-bottom: 40px;
    font-size: 15px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-size) {
  .catalog {
    margin-bottom: 105px;
    padding-top: 100px;
  }
  .catalog__item {
    flex-wrap: wrap;
    max-width: 317px;
    overflow: hidden;
    img {
      width: 316px;
      height: 462px;
    }
  }
  .catalog__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .catalog__video {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .video {
    margin: 0;
  }
  .catalog__title--video {
    padding: 0;
    &::before {
      top: -50px;
      left: 0;
    }
  }
  .catalog__video__wrapper {
    padding: 0;
    padding-top: 83px;
    padding-left: 78px;
    padding-right: 68px;
    padding-bottom: 50px;
    max-width: 366px;
  }
  .catalog__info--video {
    padding: 0;
  }
}
