.features {
  padding-top: 25px;
  padding-bottom: 36px;
}

.features__title {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
}

.features__description {
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #63d1bb;
  br {
    display: none;
  }
}

.features__text {
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #444;
}

.features__table {
  width: 100%;
  margin-bottom: 25px;
  border-collapse: collapse;
}

.features__line {
  border-bottom: 1px solid #ececec;
}

.features__column {
  padding-top: 7px;
  padding-bottom: 7px;
  width: 100px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  &:last-child {
    width: 162px;
  }
}

.features__price {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #444;
  text-align: center;
}

@media (min-width: $tablet-size) {
  .features {
    position: relative;
  }
  .features__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 28px;
  }
  .features__title {
    font-size: 43px;
    line-height: 50px;
  }
  .features__description {
    text-align: center;
    margin: 0;
    br {
      display: block;
    }
  }
  .features__image {
    position: absolute;
    top: 0;
    right: 0;
    order: 1;
    min-width: 333px;
  }
  .features__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 55px;
    padding-right: 377px;
  }
  .features__text {
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
  }
  .features__price {
    margin: 0 auto;
    margin-top: 43px;
    margin-bottom: 34px;
    font-size: 20px;
    line-height: 24px;
  }
}
