.form {
  padding-bottom: 55px;
}

.form-main__header {
  padding-top: 76px;
  padding-bottom: 80px;
  background-color: #f1f1f1;
}

.form-main__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: #231f20;
  text-align: center;
}

.form-page {
  padding-top: 29px;
}

.form__text {
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #444;
}

.form__box {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  border: none;
  overflow: hidden;
}

.form__title {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
  padding-right: 27px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #63d1bb;
  background-color: #fff;
  &::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 100vw;
    height: 1px;
    background-color: #9de2d4;
    z-index: -1;
  }
}

.form__label {
  position: relative;
  display: block;
  margin-bottom: 25px;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 64px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #000;
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid #444444;
    background-color: #ffffff;
  }
}

.form__label:hover::before,
.form__area:hover,
.form__area:focus {
  border-color: #62d1ba;
}
.form__label:active::before {
  border-color: #444;
  opacity: 0.3;
}

.form__label--color {
  &::after {
    content: "";
    position: absolute;
    display: none;
    top: 12px;
    left: 9px;
    width: 22px;
    height: 16px;
    background-image: url("../../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.form__label--radio {
  &::before {
    border-radius: 50%;
  }
  &::after {
    content: "";
    position: absolute;
    display: none;
    top: 12px;
    left: 12px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #62d1ba;
  }
}

.form__paragraph input[type=radio]:checked+.form__label::after,
.form__paragraph input[type=checkbox]:checked+.form__label::after {
  display: block;
}

.form__label--contact {
  margin-bottom: 0;
  padding: 0;
  &::before {
    display: none;
  }
}

.form__input {
  margin-bottom: 20px;
  width: 100%;
  padding: 18px 20px 17px 1px;
  font: inherit;
  border: none;
  box-shadow: inset 0 -2px 0 #000000;
  &:hover,
  &:focus {
    box-shadow: inset 0 -2px 0 #62d1ba;
  }
}

.form__input:hover+.form__icon,
.form__input:focus+.form__icon {
  fill: #62d1ba;
  opacity: 1;
}

.form__area {
  width: 100%;
  padding: 18px 17px;
  resize: none;
}

.form__info {
  display: block;
  margin-bottom: 31px;
  font-size: 14px;
  line-height: 16px;
  color: #444;
}

.form__input-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  input {
    margin-bottom: 0;
  }
}

.form__icon {
  position: absolute;
  top: 50%;
  right: 4px;
  opacity: 0.2;
  transform: translateY(-50%);
}
