.form {
  padding-bottom: 55px;
}

.form-main__header {
  padding-top: 76px;
  padding-bottom: 80px;
  background-color: #f1f1f1;
}

.form-main__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: #231f20;
  text-align: center;
}

.form-page {
  padding-top: 29px;
}

.form__text {
  margin-bottom: 25px;
  padding-left: 30px;
  padding-right: 30px;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #444;
}

.form__box {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  width: 100%;
  border: none;
}

.form__inner {
  max-width: 320px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.form__bottom {
  max-width: 320px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.form__title {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
  padding-right: 27px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #63d1bb;
  background-color: #fff;
  &::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 100vw;
    height: 1px;
    background-color: #9de2d4;
    z-index: -1;
  }
}

.form__title--contact {
  margin-bottom: 0;
}
.form__label {
  position: relative;
  display: block;
  margin-bottom: 25px;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 64px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #000;
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid #444444;
    background-color: #ffffff;
  }
}

.form__label:hover::before,
.form__area:hover,
.form__area:focus {
  border-color: #62d1ba;
}
.form__label:active::before {
  border-color: #444;
  opacity: 0.3;
}

.form__label--color {
  &::after {
    content: "";
    position: absolute;
    display: none;
    top: 12px;
    left: 9px;
    width: 22px;
    height: 16px;
    background-image: url("../../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.form__label--radio {
  &::before {
    border-radius: 50%;
  }
  &::after {
    content: "";
    position: absolute;
    display: none;
    top: 12px;
    left: 12px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #62d1ba;
  }
}

.form__paragraph input[type=radio]:checked+.form__label::after,
.form__paragraph input[type=checkbox]:checked+.form__label::after {
  display: block;
}

.form__label--contact {
  margin-bottom: 0;
  padding: 0;
  &::before {
    display: none;
  }
}

.form__input {
  margin-bottom: 20px;
  width: 100%;
  padding: 18px 20px 17px 1px;
  font: inherit;
  border: none;
  border-bottom: 2px solid #000000;
  &:hover,
  &:focus {
    border-color: #62d1ba;
  }
}

.form__input:hover+.form__icon,
.form__input:focus+.form__icon {
  fill: #62d1ba;
  opacity: 1;
}

.form__area {
  width: 100%;
  padding: 18px 17px;
  resize: none;
  border: 2px solid #444444;
}

.form__info {
  display: block;
  margin-bottom: 31px;
  font-size: 14px;
  line-height: 16px;
  color: #444;
}

.form__input-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  input {
    margin-bottom: 0;
  }
}

.form__icon {
  position: absolute;
  top: 50%;
  right: 4px;
  opacity: 0.2;
  transform: translateY(-50%);
}

.form__top {
  overflow: hidden;
}

@media (min-width: $tablet-size) {
  .form-page {
    position: relative;
  }
  .form-page .line__top {
    top: -22px;
  }
  .form-main__header {
    padding-top: 0;
  }
  .form__column {
    width: 100%;
  }
  .form-main__title {
    margin-top: 65px;
    font-size: 43px;
    line-height: 50px;
  }
  .form__text {
    width: 768px;
    margin-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 17px;
    line-height: 30px;
  }
  .form__inner {
    max-width: 768px;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
  }
  .form__title {
    padding: 0;
    padding-top: 19px;
    margin: 0;
    width: 167px;
    background-color: transparent;
    &::after {
      display: none;
    }
  }
  .form__box--gray {
    background-color: #f1f1f1;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .form__label {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 80px;
    font-size: 19px;
    line-height: 18px;
    &::before {
      width: 52px;
      height: 52px;
      background-color: transparent;
    }
  }
  .form__label--radio::after {
    left: 15px;
    top: 15px;
    width: 22px;
    height: 22px;
  }
  .form__label--color::after {
    left: 11px;
    top: 16px;
    width: 33px;
    height: 23px;
  }
  .form__label--contact {
    padding: 0;
    margin-right: 25px;
  }
  .form__input {
    background-color: transparent;
  }
  .form__column--color {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 30px;
  }
  .form__column--color .form__paragraph {
    width: 200px;
  }
  .form__paragraph--contact {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    input {
      margin-bottom: 0;
    }
  }
  .form__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 768px;
  }
  .form__btn {
    max-width: 230px;
    order: -1;
  }
  .form__info {
    margin-bottom: 0;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-size) {
  .form-main__title {
    font-size: 53px;
    line-height: 57px;
  }
  .form__inner {
    max-width: 1150px;
    padding-right: 175px;
    padding-left: 64px;
    &--color {
      padding-right: 145px;
    }
  }
  .form__text {
    padding-left: 40px;
  }
  .form__column--color {
    padding: 0;
  }
  .form__bottom {
    padding-left: 32px;
    padding-right: 0;
    max-width: 805px;
  }
}
