/* stylelint-disable */
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
    ========================================================================== */
/**
  * 1. Set default font family to sans-serif.
  * 2. Prevent iOS and IE text size adjust after device orientation change,
  *    without disabling user zoom.
  * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
  *  `em` units.
  */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
  * Remove default margin.
  */
body {
  margin: 0; }

/* HTML5 display definitions
    ========================================================================== */
/**
  * Correct `block` display not defined for any HTML5 element in IE 8/9.
  * Correct `block` display not defined for `details` or `summary` in IE 10/11
  * and Firefox.
  * Correct `block` display not defined for `main` in IE 11.
  */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
  * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
  * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
  */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
  * Prevents modern browsers from displaying `audio` without controls.
  * Remove excess height in iOS 5 devices.
  */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
  * Address `[hidden]` styling not present in IE 8/9/10.
  * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
  */
[hidden],
template {
  display: none; }

/* Links
    ========================================================================== */
/**
  * Remove the gray background color from active links in IE 10.
  */
a {
  background-color: transparent; }

/**
  * Improve readability of focused elements when they are also in an
  * active/hover state.
  */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
    ========================================================================== */
/**
  * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
  */
abbr[title] {
  border-bottom: 1px dotted; }

/**
  * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
  */
b,
strong {
  font-weight: 700; }

/**
  * Address styling not present in Safari and Chrome.
  */
dfn {
  font-style: italic; }

/**
  * Address variable `h1` font-size and margin within `section` and `article`
  * contexts in Firefox 4+, Safari, and Chrome.
  */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
  * Addresses styling not present in IE 8/9.
  */
mark {
  background: #ff0;
  color: #000; }

/**
  * Address inconsistent and variable font size in all browsers.
  */
small {
  font-size: 80%; }

/**
  * Prevent `sub` and `sup` affecting `line-height` in all browsers.
  */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
    ========================================================================== */
/**
  * 1. Remove border when inside `a` element in IE 8/9/10.
  * 2. Improves image quality when scaled in IE 7.
  */
img {
  border: 0; }

/**
  * Correct overflow not hidden in IE 9/10/11.
  */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
    ========================================================================== */
/**
  * Address margin not present in IE 8/9 and Safari.
  */
figure {
  margin: 1em 40px; }

/**
  * Address differences between Firefox and other browsers.
  */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

/**
  * Contain overflow in all browsers.
  */
pre {
  overflow: auto; }

/**
  * Address odd `em`-unit font size rendering in all browsers.
  * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
  */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
    ========================================================================== */
/**
  * Known limitation: by default, Chrome and Safari on OS X allow very limited
  * styling of `select`, unless a `border` property is set.
  */
/**
  * 1. Correct color not being inherited.
  *  Known issue: affects color of disabled elements.
  * 2. Correct font properties not being inherited.
  * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
  * 4. Improves appearance and consistency in all browsers.
  */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
  * Address `overflow` set to `hidden` in IE 8/9/10/11.
  */
button {
  overflow: visible; }

/**
  * Address inconsistent `text-transform` inheritance for `button` and `select`.
  * All other form control elements do not inherit `text-transform` values.
  * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
  * Correct `select` style inheritance in Firefox.
  */
button,
select {
  text-transform: none; }

/**
  * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
  *  and `video` controls.
  * 2. Correct inability to style clickable `input` types in iOS.
  * 3. Improve usability and consistency of cursor style between image-type
  *  `input` and others.
  * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
  *  Known issue: inner spacing remains in IE 6.
  */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
  * Re-set default cursor for disabled elements.
  */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
  * Remove inner padding and border in Firefox 4+.
  */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
  * Address Firefox 4+ setting `line-height` on `input` using `!important` in
  * the UA stylesheet.
  */
input {
  line-height: normal; }

/**
  * 1. Address box sizing set to `content-box` in IE 8/9/10.
  * 2. Remove excess padding in IE 8/9/10.
  *  Known issue: excess padding remains in IE 6.
  */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
  * Fix the cursor style for Chrome's increment/decrement buttons. For certain
  * `font-size` values of the `input`, it causes the cursor style of the
  * decrement button to change from `default` to `text`.
  */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
  * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
  * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
  */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 2 */ }

/**
  * Remove inner padding and search cancel button in Safari and Chrome on OS X.
  * Safari (but not Chrome) clips the cancel button when the search input has
  * padding (and `textfield` appearance).
  */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
  * Define consistent border, margin, and padding.
  */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
  * 1. Correct `color` not being inherited in IE 8/9/10/11.
  * 2. Remove padding so people aren't caught out if they zero out fieldsets.
  * 3. Corrects text not wrapping in Firefox 3.
  * 4. Corrects alignment displayed oddly in IE 6/7.
  */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
  * Remove default vertical scrollbar in IE 8/9/10/11.
  */
textarea {
  overflow: auto; }

/**
  * Don't inherit the `font-weight` (applied by a rule above).
  * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
  */
optgroup {
  font-weight: 700; }

/* Tables
    ========================================================================== */
/**
  * Remove most spacing between table cells.
  */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Open Sans"), local("OpenSans"), url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff"); }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  position: relative;
  min-width: 320px;
  min-height: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: normal;
  color: #000000; }

a {
  text-decoration: none;
  color: inherit; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

p {
  margin: 0; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%); }

.container {
  width: 320px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px; }

.wrapper {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px; }

.btn {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid #444444;
  background-color: #ffffff;
  text-align: center;
  color: #444; }
  .btn:hover {
    color: #fff;
    border: 2px solid #444444;
    background-color: #444; }
  .btn:active {
    color: rgba(255, 255, 255, 0.3); }

.btn--modal {
  background-color: #63d1bb;
  color: #fff;
  border-color: #63d1bb; }

hr {
  display: block;
  width: 100%;
  height: 6px;
  background-color: transparent;
  border: none;
  background-image: url("../../img/bg-zigzag-line.svg");
  background-size: contain; }

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 50px;
    padding-right: 50px; }
  hr {
    height: 16px; }
  .line__top {
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 24px;
    background-image: url("../../img/bg-zigzag-fill.svg");
    background-size: contain; } }

.burger {
  position: relative;
  display: block;
  width: 20px;
  height: 14px;
  cursor: pointer; }

.burger__item {
  position: absolute;
  top: 6px;
  left: 0;
  display: block;
  width: 20px;
  height: 2px;
  background-color: #221f1f; }
  .burger__item::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: #221f1f; }
  .burger__item::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: #221f1f; }

.burger--close .burger__item {
  background-color: #221f1f; }
  .burger--close .burger__item::before {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0); }
  .burger--close .burger__item::after {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0); }

.burger--active .burger__item {
  background-color: transparent; }
  .burger--active .burger__item::before {
    -webkit-transform: translateY(6px) rotate(45deg);
            transform: translateY(6px) rotate(45deg); }
  .burger--active .burger__item::after {
    -webkit-transform: translateY(-6px) rotate(-45deg);
            transform: translateY(-6px) rotate(-45deg); }

@media (min-width: 768px) {
  .burger {
    display: none; } }

.main-nav__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px;
  background-color: #fff;
  border-bottom: 1px solid #ececec; }
  .main-nav__top a {
    margin: 0 auto; }

.user-navigation,
.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none; }

@media (max-width: 767px) {
  .user-navigation__item--promo {
    display: none; }
  .user-navigation__item,
  .site-navigation__item {
    -webkit-box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
            box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec; }
  .user-navigation__link,
  .site-navigation__link {
    position: relative;
    display: block;
    padding: 32px 20px 30px 46px;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    cursor: pointer; }
    .user-navigation__link:hover,
    .site-navigation__link:hover {
      color: rgba(0, 0, 0, 0.6); }
      .user-navigation__link:hover svg,
      .site-navigation__link:hover svg {
        fill: #63d1bb; }
    .user-navigation__link:active,
    .site-navigation__link:active {
      opacity: 0.3; }
  .site-navigation__link svg {
    position: absolute;
    left: 5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    fill: #d3d2d2; }
  .main-nav__button--close .user-navigation,
  .main-nav__button--close .site-navigation {
    display: none; }
  .main-nav__button--open .user-navigation,
  .main-nav__button--open .site-navigation {
    display: block; }
  .main-nav--nojs .user-navigation,
  .main-nav--nojs .site-navigation {
    display: block; } }

@media (min-width: 768px) {
  .header {
    border-bottom: 1px solid #ededed; }
  .main-nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .main-nav__top {
    padding: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border: none; }
    .main-nav__top a {
      margin: 0; }
    .main-nav__top img:hover {
      opacity: 0.6; }
    .main-nav__top img:active {
      opacity: 0.3; }
  .main-nav__buttom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .user-navigation {
    position: absolute;
    bottom: -40px;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    color: #000; }
  .user-navigation__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-width: 300px; }
  .user-navigation__item--promo {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #444; }
  .site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: #000; }
  .site-navigation__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .site-navigation__link {
    fill: rgba(68, 68, 68, 0.2);
    cursor: pointer; }
  .site-navigation__link--cart {
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 55px;
    margin-left: 40px; }
    .site-navigation__link--cart svg {
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
  .site-navigation__link--search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    height: 100%;
    font-size: 0; }
  .user-navigation__item:not(.user-navigation__item--promo):hover,
  .site-navigation__item:hover {
    color: rgba(0, 0, 0, 0.6); }
    .user-navigation__item:not(.user-navigation__item--promo):hover svg,
    .site-navigation__item:hover svg {
      fill: #63d1bb; }
  .user-navigation__item:not(.user-navigation__item--promo):active,
  .site-navigation__item:active {
    color: rgba(0, 0, 0, 0.3); }
    .user-navigation__item:not(.user-navigation__item--promo):active svg,
    .site-navigation__item:active svg {
      fill: rgba(99, 209, 187, 0.3); } }

.main__header {
  padding-top: 76px;
  background-color: #ececec;
  background-image: url("../../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center; }

.main__title {
  margin: 0;
  margin-bottom: 120px;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700px;
  color: #010000;
  text-align: center; }

@media (min-width: 768px) {
  .main__header {
    padding-top: 160px;
    background-image: url("../../img/hero-tablet@1x.jpg"); }
  .main__title {
    margin-bottom: 369px;
    font-size: 42px;
    line-height: 50px;
    font-weight: 700; }
    .main__title br:first-child {
      display: none; } }

.services__wrapper {
  display: block; }

.services__item {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  cursor: pointer; }

.services__item--top {
  background-color: #63d1bb;
  background-image: url("../../img/icon-interior.svg");
  background-repeat: no-repeat;
  background-position: right 36px center; }

.services__item:last-child {
  background-color: #56c3b2;
  background-image: url("../../img/icon-toy.svg");
  background-repeat: no-repeat;
  background-position: right 27px center; }

.services__title {
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #fff; }

@media (min-width: 768px) {
  .services__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 768px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto; }
  .services__item {
    padding-top: 35px;
    padding-bottom: 34px;
    padding-left: 36px; } }

.features {
  padding-top: 25px;
  padding-bottom: 36px; }

.features__title {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000; }

.features__description {
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #63d1bb; }
  .features__description br {
    display: none; }

.features__text {
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #444; }

.features__table {
  width: 100%;
  margin-bottom: 25px;
  border-collapse: collapse; }

.features__line {
  border-bottom: 1px solid #ececec; }

.features__column {
  padding-top: 7px;
  padding-bottom: 7px;
  width: 100px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400; }
  .features__column:last-child {
    width: 162px; }

.features__price {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #444;
  text-align: center; }

@media (min-width: 768px) {
  .features {
    position: relative; }
  .features__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 28px; }
  .features__title {
    font-size: 43px;
    line-height: 50px; }
  .features__description {
    text-align: center;
    margin: 0; }
    .features__description br {
      display: block; }
  .features__image {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    min-width: 333px; }
  .features__wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 55px;
    padding-right: 377px; }
  .features__text {
    font-size: 17px;
    line-height: 30px;
    font-weight: 400; }
  .features__price {
    margin: 0 auto;
    margin-top: 43px;
    margin-bottom: 34px;
    font-size: 20px;
    line-height: 24px; } }

.about {
  padding-bottom: 40px; }

.about__title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700; }

.about__list {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  list-style: none; }

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
  width: 100%; }
  .about__item img {
    margin-left: 8px; }

.about__description {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-top: 20px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #000; }

@media (min-width: 768px) {
  .about__title {
    font-size: 42px;
    line-height: 50px; }
  .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .about__item {
    max-width: 300px; }
  .about__description {
    font-size: 20px;
    line-height: 22px; } }

.slider__title {
  margin-bottom: 30px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700; }

.slider__text {
  margin-bottom: 35px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #444; }

.slider__autor {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  font-style: normal; }

.slider__inst {
  display: block;
  margin-top: 10px;
  font-weight: 400; }

.slider__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
  margin-bottom: 35px; }

.slider__button {
  padding: 13px 20px;
  width: 50%;
  border: 1px solid #ececec;
  background-color: #fff;
  text-indent: -1000px;
  overflow: hidden; }
  .slider__button:last-child {
    border-left: none; }

.slider__left--arrow {
  background-image: url("../../img/icon/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: center; }

.slider__right--arrow {
  background-image: url("../../img/icon/icon-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center; }

@media (min-width: 768px) {
  .slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 86px;
    padding-bottom: 53px;
    background-image: url("../../img/review@1x.jpg");
    background-position: left center;
    background-repeat: no-repeat; }
  .slider__title {
    font-size: 43px;
    line-height: 50px;
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2; }
  .slider .btn {
    margin-bottom: 53px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    max-width: 175px;
    margin-left: auto; }
  .slider__text {
    font-size: 17px;
    line-height: 30px; }
  .slider__menu {
    margin: 0;
    margin-left: auto; }
  .slider__button {
    min-width: 87px;
    border: none; } }

.contacts {
  padding-top: 40px; }

.contacts__title {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000; }

.contacts__table {
  border-collapse: collapse; }

.contacts__line {
  display: block;
  margin-bottom: 40px;
  width: 100%; }

.contacts__column {
  vertical-align: top;
  width: 78px;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px; }
  .contacts__column:last-child {
    width: 178px; }

.contacts__column a {
  position: relative;
  padding-bottom: 5px;
  cursor: pointer; }
  .contacts__column a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #63d1bb; }
  .contacts__column a:hover {
    color: #46c1ae; }
    .contacts__column a:hover::after {
      background-color: #46c1ae; }
  .contacts__column a:active {
    opacity: 0.3; }
    .contacts__column a:active::after {
      opacity: 0.3; }

.map {
  margin-bottom: 40px; }

.contacts__btn {
  margin-bottom: 40px; }

@media (min-width: 768px) {
  .contacts__title {
    position: relative;
    font-size: 43px;
    line-height: 50px; }
    .contacts__title::after {
      content: "";
      position: absolute;
      top: -10px;
      right: 0;
      width: 47px;
      height: 81px;
      background-image: url("../../img/icon-flag.svg"); }
  .contacts__table tbody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .contacts__table {
    width: 100%;
    margin: 0; }
  .contacts__line {
    min-width: 300px; }
  .contacts__column:nth-child(2n) {
    min-width: 220px; }
    .contacts__column:nth-child(2n) br:nth-child(2) {
      display: none; }
  .contacts__btn {
    max-width: 230px;
    margin: 0 auto;
    margin-bottom: 57px; } }

.footer {
  padding-top: 25px;
  padding-bottom: 20px;
  background-color: #f1f1f1; }

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 27px;
  list-style: none;
  border-bottom: 1px solid #e5e5e5; }

.footer__link--copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 22px;
  padding-left: 40px;
  padding-right: 40px; }
  .footer__link--copy:hover .footer__copy {
    fill: #46c1ae; }
  .footer__link--copy:active {
    opacity: 0.3; }

.footer__link--copy h3 {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700; }

.footer__copy {
  fill: #63d1bb; }

.footer__logo {
  display: none; }

@media (min-width: 768px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px; }
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__logo {
    display: block; }
  .social-link {
    padding: 0;
    margin-left: 70px;
    border: none;
    min-width: 150px; }
  .footer__link--copy {
    margin: 0;
    padding: 0; }
    .footer__link--copy h3 {
      margin-right: 30px; } }

.modal {
  position: fixed;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9); }

.modal__inner {
  padding-top: 36px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 46px;
  width: 100%;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
  -webkit-box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
          box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25); }

.modal__title {
  margin-bottom: 25px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000; }

.modal__text {
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #444; }

.modal__size {
  width: 100%;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.modal__btn {
  min-width: 30%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid rgba(68, 68, 68, 0.1);
  background-color: #fff; }
  .modal__btn:hover {
    border-color: rgba(68, 68, 68, 0.3); }
  .modal__btn:focus {
    border-color: #62d1ba; }

@media (min-width: 768px) {
  .modal__title {
    font-size: 30px;
    line-height: 57px; }
    .modal__title br {
      display: none; }
  .modal__text {
    font-size: 17px;
    line-height: 30px; }
  .modal__inner {
    border-left: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
    padding-left: 100px;
    padding-right: 100px;
    margin-right: 100px;
    margin-left: 100px; }
  .modal__btn {
    min-width: 32%; } }

.catalog {
  margin-bottom: 58px; }

.catalog-main__header {
  margin-bottom: 30px;
  padding-top: 76px;
  padding-bottom: 76px;
  background-color: #f1f1f1; }

.catalog-main__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center; }

.catalog__item {
  display: block;
  margin-bottom: 30px;
  border: 1px solid #ececec;
  background-color: #fff; }
  .catalog__item:hover {
    -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); }
  .catalog__item:active {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }

.catalog__info {
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 30px; }

.catalog__item {
  margin-bottom: 30px; }

.catalog__title {
  margin-top: 30px;
  margin-bottom: 12px;
  display: block;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000; }
  .catalog__title:hover {
    opacity: 0.6; }
  .catalog__title:active {
    opacity: 0.3; }

.catalog__description {
  display: block;
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  color: #444; }

.catalog__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  border-top: 1px solid #ececec; }

.catalog__bottom svg {
  opacity: 0.2;
  cursor: pointer; }
  .catalog__bottom svg:hover {
    opacity: 1;
    fill: #63d1bb; }
  .catalog__bottom svg:active {
    opacity: 0.3; }

.catalog__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  color: #000; }

.catalog__video {
  padding-top: 29px;
  border: 1px solid #ececec; }
  .catalog__video:hover {
    -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); }
  .catalog__video:active {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }

.catalog__title--video {
  position: relative;
  margin-left: auto;
  margin-bottom: 20px;
  padding-right: 43px;
  padding-left: 91px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000; }
  .catalog__title--video::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 34px;
    width: 32px;
    height: 32px;
    background-image: url("../../img/icon-video.svg"); }

.catalog__text {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #444; }

.video {
  position: relative;
  display: block; }
  .video::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 101px;
    height: 77px;
    background-image: url("../../img/icon/icon-play.svg");
    background-repeat: no-repeat;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    cursor: pointer; }
  .video:hover::after {
    -webkit-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2); }
  .video:active::after {
    -webkit-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3; }

@media (min-width: 768px) {
  .catalog {
    position: relative; }
    .catalog .line__top {
      top: -54px; }
  .catalog-main__header {
    padding-top: 106px;
    padding-bottom: 86px; }
  .catalog-main__title {
    font-size: 43px;
    line-height: 50px; }
  .catalog__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 54px; }
    .catalog__item img {
      min-width: 334px;
      min-height: 334px; }
  .catalog__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
  .catalog__title {
    font-size: 20px;
    line-height: 24px; }
  .catalog__description {
    font-size: 15px;
    line-height: 30px; }
  .catalog__price {
    font-size: 17px;
    line-height: 24px; }
  .catalog__bottom {
    padding-top: 27px; }
  .catalog__video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0; }
  .video {
    min-width: 668px;
    min-height: 455px;
    margin-bottom: 43px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
    .video::after {
      width: 102px;
      height: 78px; }
  .catalog__title--video {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    padding-left: 107px; }
    .catalog__title--video br {
      display: none; }
    .catalog__title--video::before {
      top: -5px;
      left: 39px; }
  .catalog__info--video {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 46px; }
  .catalog__text {
    margin-bottom: 40px;
    font-size: 15px;
    line-height: 30px; } }

.form {
  margin-bottom: 58px; }

.form-main__header {
  margin-bottom: 30px;
  padding-top: 76px;
  padding-bottom: 76px;
  background-color: #f1f1f1; }

.form-main__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center; }

.form__description {
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #444; }

.form__item {
  border: none;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  overflow: hidden; }

.form__item--last {
  margin: 0; }

.form__title {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
  padding-right: 31px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #63d1bb;
  background-color: #fff; }
  .form__title::after {
    content: "";
    width: 100vw;
    height: 1px;
    position: absolute;
    left: 0;
    top: 6px;
    background-color: #63d1bb;
    z-index: -1; }

.form__title--m {
  margin: 0; }

.form__text {
  display: block;
  padding-top: 12px;
  margin-bottom: 30px;
  position: relative;
  padding-left: 58px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #000;
  cursor: pointer; }
  .form__text::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid #444444;
    background-color: #fff; }
  .form__text::before {
    content: "";
    display: none;
    position: absolute;
    left: 9px;
    top: 12px;
    width: 22px;
    height: 16px;
    background-image: url("../../img/icon-tick.svg");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1; }
  .form__text:hover::after, .form__text:focus::after {
    border-color: #62d1ba; }
  .form__text:active::after {
    border-color: #444;
    opacity: 0.3; }

.form__text--radio::after {
  border-radius: 50%; }

.form__text--radio::before {
  content: "";
  display: none;
  position: absolute;
  left: 12px;
  top: 12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #62d1ba;
  background-image: none;
  z-index: 2; }

.form__box input[type=radio]:checked + .form__text--radio::before {
  display: block; }

.form__box input[type=checkbox]:checked + .form__text::before {
  display: block; }

.form__fio {
  display: block;
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #000; }

.form__input {
  display: block;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 17px;
  font: inherit;
  font-size: 17px;
  line-height: 18px;
  font-weight: 40;
  border: none;
  border-bottom: 2px solid #000; }
  .form__input:hover {
    border-color: #62d1ba; }
  .form__input:focus {
    border-color: #62d1ba; }
    .form__input:focus::-webkit-input-placeholder {
      color: #444; }
    .form__input:focus::-moz-placeholder {
      color: #444; }
    .form__input:focus:-ms-input-placeholder {
      color: #444; }
    .form__input:focus::-ms-input-placeholder {
      color: #444; }
    .form__input:focus::placeholder {
      color: #444; }
  .form__input::-webkit-input-placeholder {
    color: rgba(68, 68, 68, 0.3); }
  .form__input::-moz-placeholder {
    color: rgba(68, 68, 68, 0.3); }
  .form__input:-ms-input-placeholder {
    color: rgba(68, 68, 68, 0.3); }
  .form__input::-ms-input-placeholder {
    color: rgba(68, 68, 68, 0.3); }
  .form__input::placeholder {
    color: rgba(68, 68, 68, 0.3); }

.form__input:focus + .form__icon {
  opacity: 1;
  fill: #62d1ba; }

.form__input__wrapper {
  position: relative; }
  .form__input__wrapper:hover .form__icon {
    opacity: 1;
    fill: #62d1ba; }

.form__icon {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0.2; }

.form__area {
  width: 100%;
  padding-top: 18px;
  padding-left: 17px;
  border: 2px solid #444444;
  resize: none; }
  .form__area:hover, .form__area:focus {
    border-color: #62d1ba; }

.form__info {
  display: block;
  margin-top: 18px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #444;
  margin-bottom: 30px; }

.form__box input:disabled + .form__text::before,
.form__box input:disabled + .form__text::after,
.form__box input:disabled + .form__text,
.form__box input:disabled + .form__text:hover::after {
  border-color: #444;
  opacity: 0.3;
  cursor: default; }
